<section class="direcs" ng-model="direc">
	<h1 class="article-heading">Steps</h1>
	<a href="" class="new-item" ng-click="addDirec()">  + New</a>
	<article>
		<ul ng-repeat=" direc in direcs " ng-init="editing = true">
			<li class="direc-item">
				<label ng-hide="editing" ng-click=" editing = !editing ">{{direc.step}}</label>
				<input ng-model="direc.step" ng-show="editing" ng-blur=" editing = false; " type="text" />
				<button ng-click=" editing = !editing " ng-hide="editing">Edit</button>
				<button ng-click="saveDirec(direc); editing = !editing" ng-show="editing">Save</button>
				<button ng-click="deleteDirec(direc, $index)">Delete</button>
			</li>
		</ul>
	</article>
</section>