.header {
	height: 12rem;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../img/kitchen.jpg");
	padding-top: 1px;
}

.header-title {
	@include vertical-align($val: 47%);
	@extend %centered;
	color: $white;
}