/* Nav-bar Styles */


.nav-bar nav {
	@extend %centered;
	background-color: $lightgrey;
	padding-top: 1px;
	height: 100%;
	width: 100%;
}

.nav-list {
	padding: 0;
	margin: 0;
}

.nav-list-item {	
	@include min-up(768px) {
		display: inline-block;
		width: 33%;
		height: 100%;
		border-right: 1px solid black;
	}
	
	div {
		height: 100%;
	}
}

.nav-list-item:last-child {
	@include min-up(768px) {
		border-right: none;
	}
}

.nav-link-container {
	height: 100%;
	width: 100%;
	margin: 0;
}

.nav-link {
	display: block;
	color: black;
	height: 100%;
	width: 100%;
	padding: 1rem 0;
	transition: color .5s;
}

.nav-link:hover {
	color: $orange;
}

.nav-bar input[type="text"] {
	border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

.nav-bar input[type="text"]:focus {
	border: solid 1px $orange;
	box-shadow: 0 0 5px 1px $orange;
}